<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grocery List App</title>
</head>
<body>
    <h1>Welcome to the Grocery List App</h1>
    <ul>
        <li><a href="/create_user">Create User</a></li>
        <li><a href="/grocerylists">Create Grocery List</a></li>
        <li><a href="/remove_items">Remove Items from Grocery List</a></li>
        <li><a href="/collaborate">Collaborate on Grocery List</a></li>
        <li><a href="/login">Log in!</a></li>
        <li><a href="/register">Register!</a></li>

    </ul>
</body>
</html>
